<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h2>Here post in details</h2>
    <div>
        <h2>ID :
            <%= post.id %>
        </h2>
        <h2>Username :
            <%= post.username %>
        </h2>
        <p>Content :
            <%= post.content %>
        </p>
    </div>
</body>
</html>